<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> TESTE - Arquivo Eletrônico de Leis </title>
    </head>
        <body style="width: 1200px; height: 800px; margin: auto;">
            <h1 align="center">Prefeitura do Município de Leme</h1>
            <h2 align="center">Arquivo Eletrônico de Leis</h2>
            <section>
                <aside style="width: 200px; height: 500px; float: left; background: #007bff; font-family: Arial, Helvetica, sans-serif; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;">
                    <p><a class="btn btn-primary btn-lg" role="button" href="/" style="width: 200px">Inicio</a></p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="/complementar" style="width: 200px">Lei Complementar</a></p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="/ordinaria" style="width: 200px">Lei Ordinária</a></p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="/organica" style="width: 200px">Lei Orgânica</a></p>
                </aside>
                <div style="width: 1000px; height: 500px; float: right; background: #F0F0F0; font-family: Arial, Helvetica, sans-serif; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;">
                    <h2 align="center">Ultimos Decretos publicados</h2>
                       <ul style="list-style-type:none">
                       {% for lista in Leis %}
                           <li>{{ lista }}</li>
                       {% endfor %}
                       </ul>
                </div>
            </section>
    <footer style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; text-align: center; color: #000000;">
        <p>Secretaria de Assuntos juridicos</p>
        <p>Secretaria da Administração</p>
        <p>Coordenadoria de Atendimento e Suporte Técnico em Informática</p>
    </footer>
        </body>    
</html>